 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Projects</title>
</head>
<body>
    <div class="preloader">
        <div class="load">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div id="loading">Loading...</div>
        </div>
    </div>
    <div id="body">
        <header class="header">
            <nav class="navbar">
                <a href="./index.html" class="logo">Kravets</a>
                <div class="secondary-navbar" id="nav">            
                    <a href="./index.html">Home</a>
                    <a href="./About_Author.html">About author</a>
                    <a href="./skills.html">Skills</a>
                    <a href="./projects.html" class="active">Projects</a>
                    <a href="./contact_me.html">Contact me</a>
                    <a href="./tech.html">Tech</a>
                </div>
                <button class="nav-button" id="nav-btn">
                    <img id="nav-btn-img" src="../static/files/img/navigation/navbtn.png">
                </button>
            </nav>
        </header>

        <div class="container">
            <div class="title">
                <h1 class="pr-h1">Yatube Project</h1>
                <p class="pr-p">Web-site inspired by twitter. I made<br>this site using Django. You can signup<br> here, login, post posts. This is first version of this project. After a week I will upload here second version with new design.</p>
            </div>
            <div class="img">
                <img src="../static/files/img/projects/yatube.jpg" class="project-img"></img>
                <button class="contact-btn" id="visit-btn">
                    <div>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">
                            <a href="https://danielzharikov.pythonanywhere.com/ " target="_blank">Visit!</a>
                        </span>
                    </div>
                </button>
            </div>
        </div>
        <div class="container">
            <div class="title">
                <h1 class="pr-h1">Color the parrot</h1>
                <p class="pr-p">At this mini game you cdn color the different parts<br> of the parrot using 3 different modes</p>
            </div>
            <div class="img">
                <img src="../static/files/img/projects/parrot" class="project-img"></img>
                <button class="contact-btn" id="visit-btn">
                    <div>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">
                            <a href="https://copy-bara.scienceart.co.il/DanielZh/Color-the-Parrot" target="_blank">Visit!</a>
                        </span>
                    </div>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="title">
                <h1 class="pr-h1">Aspect Ratio</h1>
                <p class="pr-p">Here you can calculate any aspect ratio</p>
            </div>
            <div class="img">
                <img src="../static/files/img/projects/ratio.png" class="project-img"></img>
                <button class="contact-btn" id="visit-btn">
                    <div>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">
                            <a href="https://copy-bara.scienceart.co.il/DanielZh/aspect-ratio" target="_blank">Visit!</a>
                        </span>
                    </div>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="title">
                <h1 class="pr-h1">Counter</h1>
                <p class="pr-p">One of my first training projects.<br>It is just simple counter<br>From zero to plus or minus infinity</p>
            </div>
            <div class="img">
                <img src="../static/files/img/projects/counter" class="project-img"></img>
                <button class="contact-btn" id="visit-btn">
                    <div>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">
                            <a href="https://copy-bara.scienceart.co.il/DanielZh/Counter" target="_blank">Visit!</a>
                        </span>
                    </div>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="title">
                <h1 class="pr-h1">Reviews</h1>
                <p class="pr-p">A simple web-site where you can watch reviews<br>about your project. Obviusly here you can see some random reviews, not about me.</p>
            </div>
            <div class="img">
                <img src="../static/files/img/projects/reviews.png" class="project-img"></img>
                <button class="contact-btn" id="visit-btn">
                    <div>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">
                            <a href="https://copy-bara.scienceart.co.il/DanielZh/Reviews" target="_blank">Visit!</a>
                        </span>
                    </div>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="title">
                <h1 class="pr-h1">Color flipper</h1>
                <p class="pr-p">This web site can generate random hex color<br>or just the common color.</p>
            </div>
            <div class="img">
                <img src="../static/files/img/projects/flipper.png" class="project-img"></img>
                <button class="contact-btn" id="visit-btn">
                    <div>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">
                            <a href="https://copy-bara.scienceart.co.il/DanielZh/Color-Flipper/Setup" target="_blank">Visit!</a>
                        </span>
                    </div>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="title">
                <h1 class="pr-h1">Fortune wheel</h1>
                <p class="pr-p">you can't make a choise?<br>You doubt about something?<br>This fortune wheel will help you to decide!</p>
            </div>
            <div class="img">
                <img src="../static/files/img/projects/wheel.png" class="project-img"></img>
                <button class="contact-btn" id="visit-btn">
                    <div>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">
                            <a href="https://copy-bara.scienceart.co.il/DanielZh/fortune-wheel" target="_blank">Visit!</a>
                        </span>
                    </div>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="title">
                <h1 class="pr-h1">Drum kit</h1>
                <p class="pr-p">Click by your mouse.<br>Or press the button on your keyboard.<br>Enjoy the beat!</p>
            </div>
            <div class="img">
                <img src="../static/files/img/projects/soundbar" class="project-img"></img>
                <button class="contact-btn" id="visit-btn">
                    <div>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">
                            <a href="https://copy-bara.scienceart.co.il/DanielZh/Soundbar" target="_blank">Visit!</a>
                        </span>
                    </div>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="title">
                <h1 class="pr-h1">That's not the end!</h1>
                <p class="pr-p">I can't show you all my projects here by now.<br>Due to one of them just a fitness-tracker module.<br>And my current biigest project inspired by Twitter<br>Not finished yet. But you can take a look on them by visiting my GitHub. I will drop them later</p>
            </div>
            <div class="img">
                <img src="../static/files/img/projects/soon.jpg" class="project-img"></img>
                <button class="contact-btn" id="visit-btn">
                    <div>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">
                            <a href="https://github.com/DanikKravets" target="_blank">Visit Github!</a>
                        </span>
                    </div>
                </button>
            </div>
        </div>

        <footer class="footer bt-auto">
            <div class="footbar">
                <p class="name">Daniel Zharikov<br>Web developer</p>
                <div class="social">
                    <a href="https://discord.gg/dv36NFsnqk" target="_blank"><img src="../static/files/img/socials/discord.png" class="social-item"></img></a>
                    <a href="https://www.facebook.com/profile.php?id=100089003058327" target="_blank"><img src="../static/files/img/socials/facebook.png" class="social-item"></img></a>
                    <a href="https://github.com/DanikKravets" target="_blank"><img src="../static/files/img/socials/github.png" class="social-item"></img></a>
                    <a href="https://www.linkedin.com/in/daniel-zharikov-b824b0261/" target="_blank"><img src="../static/files/img/socials/linkedin.png" class="social-item"></img></a>
                </div>
            </div>
        </footer>
    <script>
        preloader = document.querySelector('.preloader')
    
        setTimeout(() => {
            body.style.display = 'block'
            preloader.style.display = 'none'
        }, 1000)
    </script>
    <script src='../scripts/navbar_mobile.js'></script>
    </div>
</body>
</html>