<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>My Skills</title>
</head>
<body>
    <div class="preloader">
        <div class="load">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div id="loading">Loading...</div>
        </div>
    </div>
    <div id="body">
        <header class="header">
            <nav class="navbar">
                <a href="./index.html" class="logo">Kravets</a>
                <div class="secondary-navbar" id="nav">            
                    <a href="./index.html">Home</a>
                    <a href="./About_Author.html">About author</a>
                    <a href="./skills.html" class="active">Skills</a>
                    <a href="./projects.html">Projects</a>
                    <a href="./contact_me.html">Contact me</a>
                    <a href="./tech.html">Tech</a>
                </div>
                <button class="nav-button" id="nav-btn">
                    <img id="nav-btn-img" src="../static/files/img/navigation/navbtn.png">
                </button>
            </nav>
        </header>

        <div class="container" id="con-skills">
            <div class="title">
                <h1 id='h-skills'>Skills & Experience</h1>
                <p id="about-skills">Now I am currently learning backend development by Django.<br> I've created successful responsive website inspired by Twitter.<br>
                I am in a process of studying full-stack development.<br> I don't have big projects by now, but I'm working on it.<br>
                Summary my skills: HTML, CSS, JS, React JS, Python, Django, Unittest, Node JS.</p>
            </div>
            <div class="skills">
                <div class="skill">
                    <div class="skill-name">Back-end</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="60%" style="max-width: 60%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">Django</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="55%" style="max-width: 55%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">Front-end</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="40%" style="max-width: 40%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">React JS</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="35%" style="max-width: 35%;"></div>
                    </div>
                </div>
            </div>
        </div>



        <footer class="footer">
            <div class="footbar">
                <p class="name">Daniel Zharikov<br>Web developer</p>
                <div class="social">
                    <a href="https://discord.gg/dv36NFsnqk" target="_blank"><img src="../static/files/img/socials/discord.png" class="social-item"></img></a>
                    <a href="https://www.facebook.com/profile.php?id=100089003058327" target="_blank"><img src="../static/files/img/socials/facebook.png" class="social-item"></img></a>
                    <a href="https://github.com/DanikKravets" target="_blank"><img src="../static/files/img/socials/github.png" class="social-item"></img></a>
                    <a href="https://www.linkedin.com/in/daniel-zharikov-b824b0261/" target="_blank"><img src="../static/files/img/socials/linkedin.png" class="social-item"></img></a>
                </div>
            </div>
        </footer>
    </div>
    <script>
    preloader = document.querySelector('.preloader')

    setTimeout(() => {
        body.style.display = 'block'
        preloader.style.display = 'none'
    }, 1000)
    </script>
    <script src='../scripts/navbar_mobile.js'></script>
</body>
</html>